.changeMonth {
  margin: 0px 20px;
}

.header {
  display: flex;
  align-items: center;
}

.currentMonth {
  margin-left: 12px;
  font-size: 12px;
}

.weekContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  margin: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.weekNames {
  color: #9e9e9e;
  cursor: default;
}

.inactiveDay {
  color: #9e9e9e;
}
.today {
  background: #efefee;
  border-radius: 50%;
}

.selectedDay {
  color: white;
  background: #3366ff;
  /* border-radius: 50%; */
}

.navIcon {
  width: 20px;
  height: 20px;
  padding: 8px;
  cursor: pointer;
}

.navIcon:hover {
  border-radius: 50%;
  background: #efefee;
}

.todayButton {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 8px;
}

.todayButton:hover {
  background: #efefef;
}