#ec { font-size: 80%; overflow-y: scroll }
.ec-toolbar { display: none }
.ec-time, .ec-line {
  height: 20px;
}
.ec-body, .ec-header { border: none }
.ec-all-day { border-left: none; border-right: none }
.ec-day.ec-today { background: none }
.ec-event-body { cursor: pointer }