.ql-container.listnote {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

.ql-editor ol {
  padding-left: 0em;
}

.ql-editor.ql-blank::before {
  left: 32px;
  right: 32px;
}

.ql-editor li > .ql-ui:before {
  margin-right: 0.6em;
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 1em;
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 2.7em;
}
.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 1em;
}
.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 2.7em;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 2em;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 3.8em;
}
.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 2em;
}
.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 3.8em;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 4.9em;
}
.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 4.9em;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 4em;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 6.0em;
}
.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 4em;
}
.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 6.0em;
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 5em;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 7.1em;
}
.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 5em;
}
.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 7.1em;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 8em;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 8.2em;
}
.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 8em;
}
.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 8.2em;
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 9.3em;
}
.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 9.3em;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 10em;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 10.4em;
}
.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 10em;
}
.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 10.4em;
}
.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 11em;
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 11.5em;
}
.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 11em;
}
.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 11.5em;
}