<!DOCTYPE html>
<html lang="en" class="not-dragging">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%
      title = assigns[:title] || "Love your lists"
    %>
    <title>ListNote | <%= title %></title>
    <link rel="apple-touch-icon" sizes="128x128" href="/images/icon128.png">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= if @quill do %>
      <link rel="stylesheet" href={Routes.static_path(@conn, "/css/quill.bubble.css")}>
    <% end %>
  </head>

  <body class="bg-gray-50">
    <%= @inner_content %>
  </body>
</html>
