@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overscroll-behavior-y: none;
}

.fade-appear { opacity: 0 }
.fade-appear-active { opacity: 1 }
.fade-appear-done { opacity: 1 }
.fade-enter { opacity: 0 }
.fade-enter-active { opacity: 1 }
.fade-enter-done { opacity: 1 }
.fade-exit { opacity: 1 }
.fade-exit-active { opacity: 0 }
.fade-exit-done { opacity: 0 }

.without-ring {
  @apply focus:ring-0 focus:ring-offset-0;
}

/*
.scrollbar::-webkit-scrollbar { width: 5px; }
.scrollbar::-webkit-scrollbar-track { background: transparent }
.scrollbar::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 3px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
*/

.hover-parent .hover-visible {
  display: none;
}
.hover-parent:hover .hover-visible {
  display: block;
}

span.grippy {
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
span.grippy::after {
  content: '.. .. .. ..';
}